/* Général */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15em;
}

/* En-tête */

h1 {
    font-family: 'Poetsen One', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #1E2A4A;
    font-size: 60px;
    margin-bottom: 10px;
}

h3 {
    font-weight: bold;
    color: #1E2A4A;
    font-size: 30px;
    margin-bottom: 30px;
}

/* Proposition */
main {
    padding-top: 50px;
}

.mot-liste {
    font-size: 20px;
    margin: 30px 0;
}

.input-chiffre-class {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #1E2A4A;
}

.bouton-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1E2A4A;
    color: #fff;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
}

.lien-menu {
    font-weight: bold;
    padding: 10px;
    background-color: #1E2A4A;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    width: 300px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
}