/* Valeurs générales */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #5271ff;
}

/* VALEURS MAIN */

.qcm-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/fond--qcm.png');
    height: 100vh; 
    background: url('/images/fond--qcm.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Titres et sous-titres du main */

.sous-titre-calculo, .titre-calculo, .texte-calculo ,.lien-calculo, .btn-niveau {
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.titre-calculo{
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #5271ff;
    font-size: 5.2em;
}

.sous-titre-calculo{
    color: #5271ff;
    font-weight: bold;
    font-size: 2.8em;
}

.btn-niveau{
    display: inline-block;
    font-weight: 300;
    margin: 5px 10px;
}

.lien-calculo{
    font-weight: bold;
    padding: 10px;
    background-color: #5271ff;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    width: 300px;
    margin: 25px 0 20px;
}

.texte-calculo{
    font-weight: 300;
    width: 25%;
    font-size: 1.1em;
}

